*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.content-wrapper,
.main-footer {
    @media #{$medium} {
        margin: 0 auto;
        max-width: 900px;
        overflow: hidden;
    }
}

body {
    background-color: #575E66;
    color: #fff;
}
        
a {
    color: #6FF1E1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}