<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Graham Licence /blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Graham Licence" />
        <link rel="canonical" href="http://blog.grahamlicence.co.uk/">
        <link href="/assets/styles/main.css" media="all" rel="stylesheet" />
    </head>
    <body>
        <header class="header">
            <h1><a href="/">b/og</a></h1>
        </header>