        <footer class="main-footer">
            Graham Licence. Web developer and occasional cartoonist. 
            <a href="http://www.grahamlicence.co.uk/">grahamlicence.co.uk</a> |
            <a href="https://github.com/grahamlicence">github</a>
        </footer>

        <script src="/assets/scripts/jquery-1.11.3.min.js"></script>
        <script src="/assets/scripts/main.js"></script>

        {{>analytics}}

    </body>
</html>