        <footer class="main-footer">
            Graham Licence. Web developer and occasional cartoonist. 
            <a href="http://www.grahamlicence.co.uk/">Cartoons</a> |
            <a href="https://github.com/grahamlicence">github</a>
        </footer>

        <script src="/assets/scripts/jquery-1.11.3.min.js"></script>
        <script src="/assets/scripts/main.js"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2103529-10']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

    </body>
</html>