{{>site-header}}
  <main class="main-content">
    <h1>{{ this.page.title }}</h1>
    <p class="post-date">{{formatDate this.page.posted "%d %B %Y"}}</p>
    {{#markdown}} 
      {{> body}} 
    {{/markdown}}
  </main>
{{>site-footer}}